// https://github.com/google/docsy/blob/main/assets/scss/_variables.scss
//
// https://design.datum.net/color
// https://storybook.datum.net/?path=/docs/intro-styling-theming-colors--documentation

$blackberry-900: #312847;
$blackberry-800: #443A5B;
$blackberry-700: #62587A;

$sunglow-900: #F27A67;

$primary: $blackberry-900;
$secondary: $sunglow-900;
$light: #d3f3ee;
$dark: $blackberry-900;

$link-color: $blackberry-900;
