// https://github.com/google/docsy/blob/main/assets/scss/_variables.scss
//
// https://design.datum.net/color
// https://storybook.datum.net/?path=/docs/intro-styling-theming-colors--documentation

$blackberry-900: #312847;
$blackberry-800: #443A5B;
$blackberry-700: #62587A;
$blackberry-600: #73688D;

$sunglow-900: #F27A67;
$sunglow-800: #F39282;
$sunglow-600: #FABCB1;

$winter-sky-800: #EEF3F2;

$primary: $blackberry-900;
$secondary: $sunglow-900;
$info: $blackberry-600;
$warning: $sunglow-800;
$danger: $sunglow-900;
$light: #d3f3ee;
$dark: $blackberry-900;

$link-color: $blackberry-900;

.td-navbar {
  .navbar-brand {
    &__name {
      margin: 0 10px 0 0;
    }

    svg {
      width: 30px;
    }
  }
}
